@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;400;500;600;700;800;900&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--branco);
}

.side-bar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
}

.hoje{
    display: flex;
    align-items: center;
    justify-content: center;
}

#hoje{
    font-size: 18pt;
    font-weight: 700;
    margin-top: auto;
    margin-right: 1rem;
}

.icone-hoje{
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.circle {
    display: block;
}

.check {
    display: none;
}

.concluir:hover .circle {
    display: none;
}

.concluir:hover .check {
    display: block;

.concluir{
    margin-right: 1rem;
}

.titulo-tarefa{
    font-size: 14pt;
    font-weight: 700;
} */

body{
    font-family: 'Lexend', sans-serif;
    background-color: var(--darker-4) !important;
    color: var(--branco);
}

.layout {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    min-height: 100vh;

    display: grid;
    grid:
        "sidebar hoje" 1fr
        "sidebar tarefas" 1fr
        "sidebar tarefas" 1fr
        "sidebar tarefas" 1fr
        "sidebar tarefas" 1fr
        / 300px auto;
    gap: 8px;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--darker-6);
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.foto-usuario {
    width: 30px;
}

.nome-usuario {
    font-size: 14pt;
    font-weight: 600;
    color: var(--branco);
}

.configuracoes-svg {
    width: 24px;
    height: 24px;
    fill: var(--branco);
}

.configuracoes-svg:hover {
    fill: var(--cor-secundaria);
    cursor: pointer;
}

.sidebar-body {
    padding: 0 1rem;
    margin-top: 2rem;
    list-style: none;
}

.sidebar-body li {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    color: var(--branco);
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
}

.sidebar-body .active {
    color: var(--preto);
    background-color: var(--cor-secundaria);
}

.sidebar-body .active svg {
    fill: var(--preto);
}

.sidebar-body .active:hover,
.sidebar-body .active:hover svg {
    background-color: var(--cor-secundaria);
    color: var(--preto);
    fill: var(--preto);
}

.sidebar-body li svg {
    fill: var(--branco);
}

.sidebar-body li:hover {
    background-color: var(--darker-4);
    cursor: pointer;
}

.add-tarefa {
    color: var(--cor-secundaria) !important;
    width: fit-content;
    font-weight: 500;
}

.adicionar-svg {
    fill: var(--cor-secundaria) !important;
}

.sidebar-lista {
    list-style: none;
    color: var(--branco);
    font-size: 12pt;
    padding: 0;
    margin-top: 2rem;
    font-weight: 400;
}

.sidebar-separador {
    border: 1px solid var(--darker-4);
    opacity: 1;
    border-radius: 1px;
}

.sidebar-body h6{
    color: lightgray;
    font-size: 10pt;
}

.sidebar-body li small {
    width: 24px;
    font-size: 18px;
}

.hoje {
    grid-area: hoje;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: fit-content;
}

.tarefas {
    grid-area: tarefas;
}

.text-hoje{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: var(--branco);
    gap: 1rem;
}

#hoje{
    font-size: 16pt;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
}

.today-svg {
    width: 24px;
    height: 24px;
    fill: var(--cor-secundaria);
}

.expand-more-svg {
    width: 24px;
    height: 24px;
    fill: var(--branco);
}

.expand-more-svg:hover {
    fill: var(--cor-secundaria);
    cursor: pointer;
}


.filtros {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 1rem;
}

.filtros-items{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 0.5rem;
    color: var(--branco);
}