@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&display=swap');

/* login container */


body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.box-area {
    width: 930px;
}

.left-box {
    background: #7D12FF;
}