:root{
    --main-color: #7D12FF;
    --secondary-color: #F9F871;
    --black: #1b1b1f;
    --white: #f5f5f7;
    --magenta: #FF00BA;
    --main-font: 'Montserrat', sans-serif;
}

@keyframes girar{
    0% {transform: rotateX(25deg) skewX(0deg);}
    25% {transform: rotateX(45deg) skewX(25deg);}
    75% {transform: rotateX(45deg) skewX(-25deg);}
    100% {transform: rotateX(25deg) skewX(0deg);}
}

body{
    background-image: linear-gradient(to bottom, var(--main-color), #551dc3, #361b88, #1e134f, #0c001c);
    background-repeat: no-repeat;
    font-family: var(--main-font);
    min-height: 100vh;
}

.navbar{
    position: sticky !important;
}

.navbar-brand{
    font-weight: 600;
    color: var(--white);
}

.nav-link{
    color: var(--white);
    font-weight: 600;
}

.nav-link.active{
    color: var(--secondary-color) !important;
}

#navbar-header{
    width: fit-content;
}

.hero{
    position: relative !important;
    margin: 0;
}

#buraco{
    animation: girar 10s infinite;
    transition: all 0.5s ease-in-out;
    height: fit-content;
    width: 30vw;
}

#buraco:hover{
    scale: 1.1;
}

.side-images{
    position: absolute;
    z-index: 1;
    width: 25%;
    padding: 0px;
}

#astronauta-1{
    top: 250px;
    left: 0px;
}

#astronauta-2{
    top: 250px;
    right: 0px;
}

.placeholder{
    visibility: hidden;
    height: 100px;
}

.main-title{
    width: fit-content;
    font-size: 4rem;
    color: var(--white);
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(26, 26, 30, 0.5);
}

.main-text{
    width: 40vw;
    text-wrap: wrap;
    color: var(--white);
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.btn-decolar{
    background-color: #7D12FF;
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 30px;
    padding-left: 24px;
    padding-right: 24px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px var(--black);
}

.btn-decolar:hover{
    background-color: #7D12FF;
    color: var(--white);
    padding-left: 48px;
    padding-right: 48px;
}

@media (max-width: 991.98px) {
    .side-images{
        display: none;
    }
}
